
  <footer class= "page-footer">
    <div class="row">
            <div class="footer">
              <div>
                  <h2>Saiba mais
                    </h2>
                  <p>Somos uma empresa de confiança e responsabilidade. Nosso serviço é 100% aprovado!
                  </p>
              </div>
            </div>
          <div class="row">
            <div class="col s1">
              <ul> 
                  <a href="http:\\instagram.com"> 
                    <img src="/assets/instaicone.png">
                  </a>
              </ul>
            </div>
            <div class="col s1">
              <ul> 
                <a href="http:facebook.com"> 
                  <img src="/assets/faceicone.png">
                </a>
              </ul>
            </div>

          </div>
        <p>@Copyright Rio de Janeiro - EJCM</p>
    </div>
  </footer>



