
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo-center"> <img src="/assets/fotoh2.png" width="1350px" height="380px"></a></div>

  <div class="segunda">
     	<li class= "navbar" routerLinkActive="active"><a routerLink="/interiordesign"><button class="button" >Interior Design</button></a></li>
     	<li class= "navbar" routerLinkActive="active"><a routerLink="/solucoes"><button class="button" >Nossa Missão</button></a></li>
		  <li class= "navbar" routerLinkActive="active"><a routerLink="/paravoce"><button class="button" >Saiba mais</button></a></li>
		  <li class= "navbar" routerLinkActive="active"><a routerLink="/portfolio"><button class="button" >Trabalho</button></a></li>
		  <li class= "navbar" routerLinkActive="active"><a routerLink="/contatos"> <button class="button" >Contatos</button></a></li>
    </div>

  
</nav>
