h1{
	color: red;
}

div{
	text-align: center;
	color: steelblue;

}

section{
    background-color: steelblue ;
	background-attachment: fixed;
	width: 100%;

	
	}

h6{
	font-style: bold;
}

.barra {
	background-color: steelblue;
	height: 

}
