<body>
	<section>
		<div class="espaco"><h1 align="center">Venusiana's Concepts</h1>
			<div class="row">
				<div class="col s4">
				    <h5>Nós aqui da venusiana somos muito amigáveis!</h5>
				</div>
				<div class="col s4">
					<h5>Nós amamos todos os nossos clientes</h5>
				</div>
				<div class="col s4">
					<h5>Nos dê a oportunidade de lhe fazer um orçamento!</h5>
				</div>

			</div>
		</div>
	</section>

	<section>
		<div class= "row">
			<div class= "col s12 center">
				<h1>Solicite um orçamento
				</h1>
			</div>
			<div class= "col s12 center">

				<h3>Transforme sua imaginação em um projeto real! 
				</h3>
			</div>
			<div class= "col s6">
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum urna in sem auctor, a consequat velit tempor. Nam a ex condimentum quam rhoncus efficitur sed at lectus. Quisque vehicula ante nec felis dignissim, eu tempor orci fringilla. Sed blandit at magna ac rutrum. Etiam eleifend tincidunt gravida. Aliquam pulvinar, sem eget rutrum dapibus, metus sem viverra neque, ut malesuada erat felis at nunc. Aenean pellentesque tincidunt lobortis. Vivamus condimentum commodo velit, ac semper nisl mattis ac. Pellentesque consequat, lorem in blandit ornare, massa eros rutrum odio, at viverra purus sapien vitae ligula. Nunc a volutpat est. Nunc ornare neque ut lectus sodales dictum. Pellentesque varius est massa, sit amet fermentum neque dignissim quis. Donec sed tempus mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc eu vulputate leo, nec luctus sem.

				Suspendisse congue, libero nec ornare aliquet, mauris felis tempor dolor, tempor blandit enim nisl accumsan ex. Proin maximus sit amet sapien eget tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi pharetra aliquam justo, id facilisis lacus consequat vitae. Phasellus vel egestas ex. Duis consequat non tellus ac rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse at ante sit amet elit fringilla scelerisque. Nulla facilisi. Vestibulum commodo diam sit amet ipsum aliquet bibendum. Suspendisse efficitur egestas bibendum. Vivamus placerat ac elit vitae sagittis.
				</p>

			</div>
				<div class="col s6">
					<a href="https://www.facebook.com/marcenariavenusiana/photos/a.1600438556946240/1951699401820152/?type=3&theater">
					<img src="/assets/fotohome.jpg" width="100%" height="80%">
					</a>
			</div>
			

			<div class="barra col s12">
				<div class="col s4">
					<h5>Horário de Funcionamento:
						</h5>
					<p>Seg a Sex;
						<br> das 08h às 18h;
					</p>
				</div>
				<div class="col s4">
					<h5> Telefones: 
						</h5>
					<p>(021) 96878-6224
						</p>
				</div>	
				<div class="col s4">
					<h5> Nosso Endereço: </h5>
						<p>Rua Monte Alegre, número 
							<br>
							43, Santa Tereza, Rio de janeiro.
						</p>
				</div>
			</div> 
		</div>
		
	</section>
</body>